# Kata 4

### Ejercicio 1

In [11]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [12]:
T = text.split('. ')
T

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [13]:
Pclave= ['average', 'temperature', 'distance']

In [14]:
for oracion in T:
    for palabra in Pclave:
        if palabra in oracion:
            print(oracion)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [15]:
for oracion in T:
        if ' C' in oracion:
            print(oracion.replace(' C', ' Celsius'))
            break

The highest daylight temperature of the Moon is 127 Celsius.

### Ejercicio 2

In [16]:
# Datos con los que vas a trabajar
name = "Luna"
gravity = 0.00162 # in kms
planet = "Tierra"

In [17]:
titulo = f"""Datos sobre la gravedad en la {name} y la {planet}"""

In [18]:
datos = f"""{'-'*50}\nNombre del planeta: {planet}\nGravedad en la {name}: {gravity*1000} m/s2"""
print(datos)

--------------------------------------------------
Nombre del planeta: Tierra
Gravedad en la Luna: 1.6199999999999999 m/s2

In [19]:
plantilla = titulo.title() + '\n' + datos

Datos Sobre La Gravedad En La Luna Y La Tierra
--------------------------------------------------
Nombre del planeta: Tierra
Gravedad en la Luna: 1.6199999999999999 m/s2

In [20]:
planet = 'Marte'
gravity  = 0.00143
name = 'Ganímedes'

In [21]:
print(plantilla)

Datos Sobre La Gravedad En La Luna Y La Tierra
--------------------------------------------------
Nombre del planeta: Tierra
Gravedad en la Luna: 1.6199999999999999 m/s2

In [24]:
plantilla2 = """Datos Sobre La Gravedad En {name} Y {planet}
--------------------------------------------------
Nombre del planeta: {planet}
Gravedad en {name}: {gravity} m/s2"""

In [25]:
print(plantilla2.format(name = name, planet = planet, gravity = gravity*1000))

Datos Sobre La Gravedad En Ganímedes Y Marte
--------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2